<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Lobster+Two&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="../css/accueil.css">
    <link rel="stylesheet" href="dist/css/bootstrap.css">
    <link rel="stylesheet" href="dist/css/bootstrap-grid.css">
    <link rel="stylesheet" href="dist/css/bootstrap-grid.min.css">
    <link rel="stylesheet" href="dist/css/bootstrap.min.css">

    <title>Document</title>
</head>

<body>
    <!DOCTYPE html>
    <html lang="fr">
      <head>
        <meta charset="UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Move_Smart</title>
        <link rel="stylesheet" href="/css/navbar.css" />
      </head>
    
      <body>
        <header>
          <div class="header-left">
            <div class="logo"><img src="images/GMC EXPRESS.png" alt=""></div>
            <nav>
              <ul>
                <li><a href="" class="active">Accueil</a></li>
                <li><a href="apropos">À propos</a></li>
                <li><a href="">Services</a></li>
                <li><a href="contact">Contactez-nous</a></li>
              </ul>
              <div class="login-signup">
                <a href="">Connexion</a> ou <a href="index">Déconnexion</a>
              </div>
            </nav>
          </div>
          <div class="header-right">
            <div class="login-signup">
              <a href=""></a> ou <a href="index">Déconnexion</a>
            </div>
            <div class="hamburger">
              <div></div>
              <div></div>
              <div></div>
            </div>
          </div>
        </header>
    
    
        <script>
          hamburger = document.querySelector(".hamburger");
          nav = document.querySelector("nav");
          hamburger.onclick = function () {
            nav.classList.toggle("active");
          };
        </script>
      </body>
    </html>
   

</body>

</html>