<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Lobster+Two&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="../css/apropos.css">
    <link rel="stylesheet" href="dist/css/bootstrap.css">
    <link rel="stylesheet" href="dist/css/bootstrap-grid.css">
    <link rel="stylesheet" href="dist/css/bootstrap-grid.min.css">
    <link rel="stylesheet" href="dist/css/bootstrap.min.css">

    <title>Document</title>
</head>

<body>

    <%- include('navbar/navbar') %>

        <div class="titreapropos">
            <div class="underline">
                <h4>A PROPOS DE NOUS</h4>
            </div>
            <h3>POURQUOI CHOISIR <span>GMC-EXPRESS </span>?</h3>
        </div>

        <div class="listcard">
            <div class="card1">
                <h4>1</h4>
                <h4>Transparence et Satisfaction <br>du client </h4>
                <div class="apropotext">
                    <p> Nous vous offront un moyen simple et convivial de suivre vos expéditions.</p>
                    <p>Possiblité d'accéder aux informations en temps réel sur le statut de vos expéditions</p>
                    <p>Tout cela dans le but de réduit vos anxiétés.</p> 
                </div>
                
            </div>
            <div class="card2">
                <h4>2</h4>
                <h4>Visibilité en temps réel</h4>
                <div class="apropotext">
                    <p>d'obtenir des informations précises sur l'emplacement actuel de vos expéditions 
                     ainsi que les mises à jour de statut et les délais de livraison prévus.</p>
                      <p>Cette visibilité en temps réel vous donne une tranquillité d'esprit en sachant où se trouve vos expédition.</p>
                     
                </div>
                
            </div>
            <div class="card3">
                <h4>3</h4>
                <h4>Facilité d'utilisation </h4>
                <div class="apropotext">
                    <p>Cette application est généralement conçue pour être conviviale et intuitives.
                     <p>L'interface utilisateur claire et simple permet aux utilisateurs de naviguer facilement et d'accéder rapidement aux informations dont ils ont besoin.</p>
                </div>
                
                
            </div>
        </div>
        <div class="listcard">
            <div class="card1">
                <h4>4</h4>
                <h4>Gestion centralisée des expéditions</h4>
                <div class="apropotext">
                    <p> Les utilisateurs peuvent gérer toutes leurs expéditions à partir d'un seul endroit.</p>
                    <p> Ils peuvent suivre plusieurs colis provenant de différents transporteurs, tout en gardant une vue d'ensemble de tous leurs envois</p>
                </div>
                
                
            </div>
            <div class="card2">
                <h4>5</h4>
                
                <h4>Résolution rapide des problèmes</h4>
                <div class="apropotext" >
                    <p> Identifier  rapidement les problèmes potentiels liés à leurs expéditions tels que:<br>
                    <p>les retards, les erreurs de livraison ou les exceptions.</p>
                    <p> Ils peuvent prendre des mesures immédiates en contactant le transporteur ou le service client concerné</p>
                    
                </div>
                
                      
            </div>
            <div class="card3">
                <h4>6</h4>
                <h4>Historique des expéditions et preuves de livraison</h4>
                <div>
                    <p>Cette application de suivi des expéditions conservent un historique détaillé des expéditions précédentes, y compris les preuves de livraison.</p>
                    <p> Les utilisateurs peuvent consulter les détails des expéditions antérieures.</p>
                </div>
                
                
            </div>
        </div>

        <%- include('footer/footer') %>
        


          

</body>

</html>