<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Lobster+Two&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="../css/apropos.css">
    <link rel="stylesheet" href="dist/css/bootstrap.css">
    <link rel="stylesheet" href="dist/css/bootstrap-grid.css">
    <link rel="stylesheet" href="dist/css/bootstrap-grid.min.css">
    <link rel="stylesheet" href="dist/css/bootstrap.min.css">

    <title>Document</title>
</head>

<body>

    <%- include('navbar/navbar') %>

        <div class="titreapropos">
            <div class="underline">
                <h4>A PROPOS DE NOUS</h4>
            </div>
            <h3>POURQUOI CHOISIR <span>GMC-EXPRESS </span>?</h3>
        </div>

        <div class="listcard">
            <div class="card1">
                <h4>1</h4>
                <h3>EXPEDITION</h3>
                <p>chez GMC-EXPRESS, vous avez la possibilité de faire une nouvelle éxpedition</p>
            </div>
            <div class="card2">
                <h4>2</h4>
                <h3>EXPEDITION</h3>
            </div>
            <div class="card3">
                <h4>3</h4>
                <h3>EXPEDITION</h3>
                
            </div>
        </div>

        <%- include('footer/footer') %>
        


          

</body>

</html>