<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Lobster+Two&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="../css/contact.css">
    <link rel="stylesheet" href="dist/css/bootstrap.css">
    <link rel="stylesheet" href="dist/css/bootstrap-grid.css">
    <link rel="stylesheet" href="dist/css/bootstrap-grid.min.css">
    <link rel="stylesheet" href="dist/css/bootstrap.min.css">

    <title>Document</title>
</head>

<body>

    <%- include('navbar/navbar') %>

    <div class="underline">
        <h4>CONTACTEZ-NOUS</h4>
    </div>

    <div class="infoscontact">

        <div>
            <div class="infos">
            <div class="rondorg"><i class="fa-sharp fa-regular fa-location-dot"></i></div>
             <h3>Localisation:<br>Abidjan, Angré Gestoci</h3>
            </div> 
 
            <div  class="infos">
                <div class="rondorg"></div>
             <h3>Heure d’Ouverture:<br>Lundi-Samedi:<br>08:00 - 18:30</h3>
            </div> 
 
            <div  class="infos">
                <div class="rondorg"></div>
             <h3>Email:<br>gmcexpress@gmail.com</h3>
            </div> 
 
            <div  class="infos">
                <div class="rondorg"></div>
             <h3>Téléphone:<br>+225 07 88 57 13 46</h3>
            </div> 
         </div>

        <form class="form">
    
            <div class="flex">
                <label>
                    <input required="" placeholder="" type="text" class="input">
                    <span>Non</span>
                </label>
        
                <label>
                    <input required="" placeholder="" type="text" class="input">
                    <span>Prenoms</span>
                </label>
            </div>  
                    
            <label>
                <input required="" placeholder="" type="email" class="input">
                <span>Adresse Email</span>
            </label> 
                
            <label>
                <input required="" type="tel" placeholder="" class="input">
                <span>Contact </span>
            </label>
            <label>
                <textarea required="" rows="3" placeholder="" class="input01"></textarea>
                <span>Message</span>
            </label>
            
            <button class="fancy" href="#">
              <span class="top-key"></span>
              <span class="text">submit</span>
              <span class="bottom-key-1"></span>
              <span class="bottom-key-2"></span>
            </button>
        </form>

        

    </div>
    
  
        

    <%- include('footer/footer') %>
        


          

</body>

</html>