<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Lobster+Two&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="../css/form.css">
    <link rel="stylesheet" href="dist/css/bootstrap.css">
    <link rel="stylesheet" href="dist/css/bootstrap-grid.css">
    <link rel="stylesheet" href="dist/css/bootstrap-grid.min.css">
    <link rel="stylesheet" href="dist/css/bootstrap.min.css">

    <title>Document</title>
</head>
<body>
        
        <%- include('navbar/navbaraccueil') %>
        <h2 class="title"> .Formulaire d'expédition</h2>

        <form class="form" action="http://localhost:3000/expedition" method="POST">

            <label disabled>
                <input required="" type="text"  class="input" name="reference">
                <span>Reference de l'expéditeur</span>
            </label>
    
            <label>
                <input required="" placeholder="" type="text" class="input" name="expediteur">
                <span>Nom de l'expéditeur</span>
            </label> 
            <label>
                <input required="" placeholder="" type="text" class="input" name="numero">
                <span>Numéro du phone du destinataire</span>
            </label>
            <label>
                <input required="" placeholder="" type="text" class="input" name="destinataire">
                <span>Nom du destinataire</span>
            </label> 
                    
            <label>
                <input required="" placeholder="" type="text" class="input" name="adressLivraison">
                <span>Adresse de Livraison</span>
            </label> 
                
            <label>
                <input required="" type="text" placeholder="" class="input" name="adresseExpediteur">
                <span>Adresse de l'expéditeur</span>
            </label>

            <div class="flex">
                <label>
                    <input required="" placeholder="" min="1" type="number" class="input" id="poids" name="poids">
                    <span>Poids du colis(kg)</span>
                </label>
        
            </div> 
            
            <label>
                <textarea required="" rows="3" placeholder="" class="input01" name="description"></textarea>
                <span>Instructions supplémentaires</span>
            </label>
            
            <button class="fancy" href="#">
              <a href="./connexion.ejs">
                <span class="top-key"></span>
                <span class="text">ENVOYER</span>
                <span class="bottom-key-1"></span>
                <span class="bottom-key-2"></span>
              </a>
            </button>
        </form>


        <%- include('footer/footer') %>
     
</body>

</html>