@import url('https://fonts.googleapis.com/css2?family=Lobster+Two&display=swap');
*{
    font-family: 'Lobster Two', cursive;
}

body{ 
    background-image: url("../images/pexels-tiger-lily-4481534.jpg");
    background-size: cover;
}

.titreapropos{
    margin-top: 5rem;
    width: 100%;
    text-align: center;
    align-items: center;
}

.titreapropos h4{
    color: white;
}

.underline{
    border-bottom: 2px solid #FF6E40;
    width: 15rem;
    margin-left: 57rem;
}

.titreapropos h3{
    margin-top: 2rem;
    color: white;
}

.titreapropos span{
    color: #FF6E40;
}
.listcard{
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    justify-content: space-around;
}

.card1{
    width: 28rem;
    height: 18rem;
    background-color: #0b22399c;
    margin-top: 8rem;
    border-radius: 2rem;
    color: white;
    text-align: center;
}
.card2{
    width: 28rem;
    height: 18rem;
    background-color: #0b22399c;
    margin-top: 8rem;
    border-radius: 2rem;
    color: white;
    text-align: center;
}
.card3{
    width:28rem;
    height: 18rem;
    background-color: #0b22399c;
    margin-top: 8rem;
    border-radius: 2rem;
    color: white;
    text-align: center;
}

.card1:hover,.card2:hover,.card3:hover{
    background-color: #FF6E40;
    border: 1px solid #FF6E40;
    scale: 1.2 1.1;
}
.card1 :hover,.card2 :hover,.card3 :hover{
    color: white;
   
}
.card1 h4 ,.card2 h4 , .card3 h4{
    color: #FF6E40;
    text-align: center;
}
.apropotext{
    width: 90%;
    text-align: center;
    margin: auto;
}




