
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
}
body{
    font-family: 'Montserrat Alternates', sans-serif;
   
}
header{
   height: 8vh;
   width: 100vw;
   background-color:#303F49 ;
   background-size: cover;
   position: fixed;
   z-index:1;
   margin-top: 3rem;
}
.navbar{
    position: absolute;
    display: flex;
    justify-content: space-between;
    width: 100%;
    box-sizing: border-box;
    z-index: 1;  

}
.navbar a{
    color: white;
    font-size: 1.2rem;
}
.navbar a:hover{
    color: #FF6E40;
   
}
.navbar .logo{
    width: 6rem;
    height: 4.5rem;
    margin-left: 5rem; 
    border-radius: 50%;
    margin-top: .3rem;
}
.navbar .navlinks{
    display: flex;
}

.navbar .navlinks ul {
    display: flex;
    margin-top: 30px;
    margin-right: 18Rem;

}
.navbar .navlinks ul li{
    margin: 0 50px;
    
}

.navlinks .login{
    margin-right: 10rem;
    border: 1px solid #FF6E40 ;
    height: 3rem;
    width: 11rem;
    border-radius: 2rem;
    background-color: rgba(255, 255, 255, 0);
    margin-top: 1rem;
}

.navlinks .login:hover{
    
    background-color:#FF6E40 ;
    color: white;
}
.navlinks .login a:hover{
    
    color: white;
}

.navbar .navlinks ul li.active a{
    color: #FF6E40;
    
}

.menuburger{
    display: none;
    width: 2.5rem;
    height: 2.5rem;
    margin-top: 15px;
    margin-right: 30px;
}



@media screen and (max-width: 1000px){
    .navbar{
        padding: 0;
        z-index: 1;
    }
    .menuburger{
        display: block;
    }
    .navlinks{
       position: absolute;
       width: 100%;
       height: 100vh;
       top: 0;
       left: 0;
       display: flex;
       justify-content: center;
       align-items: center;
       background-color: #075367;
       margin-top: 3rem;
       margin-left: -100%;
       transition: all 0.5s ease;
     
    }
    .navlinks.mobile-menu{
        margin-left: 0;
    }

    .navlinks ul{
       display: flex;
       flex-direction: column;
       align-items: center;
       margin-bottom: 5rem;
    }

    .navbar .navlinks ul li{
        margin:  25px 0;
        font-size: 2rem;
        margin-bottom: 2rem;
    }
}
